*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: orange; 
}
#caja1{
    background-color: blue;
    width: 100%;
    position: fixed;
}
.encabezado{
    text-align: center;
    font-family: courier;
}
#titulo{
    font-size: 150%;
}
#tablero{
    margin-top: 150px; 
    font-size: 150%;
    color: red;
}
#nombre_tablero{
    padding-top: 20px;
    font-size: 150%;
}
#pistola{
    border-radius: 8px;
}
#descr_tablero{
    padding: 20px;
    font-family: verdana;
    font-size: 120%;
    text-align: justify;
}
#noticias{
    text-align: right;
}
#contacto{
    padding: 20px;
    text-align: center;
    font-size: 110%;
    background-color: white;
}
#caja2{
    margin-top: 130px;
    float: left;
    width: 50%
}
#caja3{
    margin-top: 130px;
    float: right;
    width: 50%;
}
#caja4{
    padding-top: 40px;
}
#imgpistola{
    float: right;
    width: 100%;
    margin-left: 50px;
}